
@media (max-width:1700px) {
	.header .headermiddle .menus ul li a{
		font-size: 18px;
	}
	.header .headerbottom .categorymenus ul li a{
		font-size: 16px;
	}
	.storieslisting .item .content h3{
		font-size: 20px;
	}
	.heroslider .sliderdots .item span{
		font-size: 14px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 18px;
	}
	.categorybanner .heading span{
		font-size: 28px;
	}
	.categorybanner .heading h1{
		font-size: 75px;
	}
	.storieslisting .item .content span{
		font-size: 15px;
	}
	.storieslisting .item .content p,
	.articledetails .topstory .item p,
	.articledetails .topinfo,
	.localarealistingitems .item .content p{
		font-size: 16px;
	}
	.articledetails .rightside h2,
	.categorywisestory .heading h3{
		font-size: 45px;
	}
	.articledetails .topstory .item h3{
		font-size: 22px;
	}
	.articledetails .topstory .item label,
	.articledetails .topstory .item span{
		font-size: 15px;
	}
	.articledetails .articlecontent p,
	.viewareacontent p{
		font-size: 18px;
	}
	.pagination ul li a{
		height: 35px;
		width: 35px;
		font-size: 14px;
		padding: 5px 0;	
	}
	.pagination ul li{
		padding: 0 10px;
	}

	.header .headertop .contact a{
		font-size: 16px;
	}
	.header .headertop .downloadapp label{
		font-size: 16px;
	}
	.header .headertop .downloadapp img{
		width: 20px;
	}
	.categorydetailbanner h1{
		font-size: 35px;
	}
	.localarealistingitems .item .image h3{
		font-size: 22px;
	}
	.localarealistingitems .item .content{
		padding: 25px;
	}

	.distributerlisting .distributeritems .item .content h3{
		font-size: 16px;
	}
	.distributerlisting .distributeritems .item .content h4{
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.localdistributers .distributerlisting .distributeritems{
		padding: 20px;
	}
	.distributerlisting .distributeritems .item .info{
		margin-top: 5px;
		padding: 0px 5px;
	}
	.distributerlisting .distributeritems .item .info label,
	.distributerlisting .distributeritems .item .info span{
		font-size: 12px;
	}
	.distributerlisting .distributeritems .item .content{
		padding-left: 15px;
	}
	.localdistributersopen .item .content h3{
		font-size: 18px;
	}
}
@media (min-width:1350px) and (max-width:1700px) {
	.ourteamitems .item .content h3{
		margin-top: 0;
	}
	.ourteamitems .item .content h3 img{
		width: 35px;	
	}
	.sitecontainer{
		padding-left: 15px;
		padding-right: 15px;
		max-width: 1440px;
	}
	.header .headermiddle .menus ul li a{
		font-size: 18px;
	}
	.header .headerbottom .categorymenus ul li a{
		font-size: 16px;
	}

	.header .headermiddle .logo img{
		max-width: 200px;
	}
	.header .headerbottom .categorymenus ul li{
		padding: 0 35px !important;
	}
	.header .headerbottom .categorymenus ul li:first-child{
		padding-left: 0 !important;
	}
	.header .headerbottom .categorymenus ul li:last-child{
		padding-right: 0 !important;
	}
	.regiontopstores .sitecontainer,
	.categorywisestory .sitecontainer{
	  max-width: 1475px;
	}
	.storieslisting .item .content h3{
		font-size: 20px;
	}
	.heroslider .sliderdots .item span{
		font-size: 14px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 18px;
	}
	.categorybanner .heading span{
		font-size: 28px;
	}
	.categorybanner .heading h1{
		font-size: 75px;
	}
	.storieslisting .item .content span{
		font-size: 15px;
	}
	.storieslisting .item .content p,
	.articledetails .topstory .item p,
	.articledetails .topinfo,
	.localarealistingitems .item .content p{
		font-size: 16px;
	}
	.articledetails .rightside h2,
	.categorywisestory .heading h3{
		font-size: 45px;
	}
	.articledetails .topstory .item h3{
		font-size: 22px;
	}
	.articledetails .topstory .item label,
	.articledetails .topstory .item span{
		font-size: 15px;
	}
	.articledetails .articlecontent p,
	.viewareacontent p{
		font-size: 18px;
	}
	.pagination ul li a{
		height: 35px;
		width: 35px;
		font-size: 14px;
		padding: 5px 0;	
	}
	.pagination ul li{
		padding: 0 10px;
	}

	.header .headertop .contact a{
		font-size: 16px;
	}
	.header .headertop .downloadapp label{
		font-size: 16px;
	}
	.header .headertop .downloadapp img{
		width: 20px;
	}
	.categorydetailbanner h1{
		font-size: 35px;
	}
	.localarealistingitems .item .image h3{
		font-size: 22px;
	}
	.localarealistingitems .item .content{
		padding: 25px;
	}

	.localarealisting .sitecontainer{
	  max-width: 1475px;
	}
	.viewareagallery .sitecontainer{
	  max-width: 1455px;
	}
	.viewareabreadcrumb h1,
	.localdistributers h1{
		font-size: 45px;
	}
	.distributerlisting .distributeritems .item .content h3{
		font-size: 16px;
	}
	.distributerlisting .distributeritems .item .content h4{
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.localdistributers .distributerlisting .distributeritems{
		padding: 20px;
	}
	.distributerlisting .distributeritems .item .info{
		margin-top: 5px;
		padding: 0px 5px;
	}
	.distributerlisting .distributeritems .item .info label,
	.distributerlisting .distributeritems .item .info span{
		font-size: 12px;
	}
	.distributerlisting .distributeritems .item .content{
		padding-left: 15px;
	}
	.viewareagallery .viewareagalleryitems .itemright .item img{
		height: 220px;
		object-fit: contain;
	}
	.viewareagallery .viewareagalleryitems .itemleft .item img{
		height: 465px;
		object-fit: cover;
	}
	.localdistributersopen .item .content h3{
		font-size: 18px;
	}


	.userloginregister .formbox h2{
		font-size: 40px;
	}
	.userloginregister .formbox .field{
		padding: 13px 0;
	}
	.userloginregister .formbox .field input[type="text"],
	.userloginregister .formbox .field input[type="email"],
	.userloginregister .formbox .field input[type="password"],
	.userloginregister .formbox .field textarea{
	  padding: 12px 20px;
	  font-size: 16px;
	  font-weight: bold;
	  letter-spacing: 0;
	  line-height: 28px;
	  outline: none;
	}
	.userloginregister .formbox .button button{
		font-size: 16px;
		padding: 12px 0;
	}
	.userloginregister .formbox .otherlogin ul li a{
		padding: 12px 0;
	}
	.subscriptionsplans .subscriptionsbox h2{
		font-size: 40px;
	}
	.subscriptionsbox .availaableplans .item{
		padding: 8px 15px;
	}
	.subscriptionsbox .availaableplans .item label{
		font-size: 16px;
	}
	.subscriptionsplans .subscriptionsbox h4{
		font-size: 22px;
	}

	.searchbybusiness .iteminner h3{
		font-size: 18px;
	}
	.finbusiness h1{
		font-size: 65px;
	}
	
	.bussinesscontactinfo .items .item p{
		font-size: 16px;
	}

	.businesslisting .businessbanner .content{
		padding-left: 60px;
		padding-top: 40px;
	}
	.businesslisting .businessbanner h2{
		font-size: 60px;
		line-height: 70px;
	}
	.businesslisting .drivequality{
		background-position: 48%;
	}

	.termsprivacy{
		padding-left: 15px;
		padding-right: 15px;
	}
	.ourstoryteams{
		padding-left: 15px;
		padding-right: 15px;
	}

	.storieslisting .item .content{
		padding: 15px;
	}
	.storieslisting .item .content h3{
		line-height: 25px;
		height: 75px;
		margin-top: 10px;
	}

}

@media (min-width:1400px) and (max-width:1450px) {
	.storieslisting .item .content h3{
		font-size: 16px !important;
	}
	.categorystorylisting .storieslisting .item .iteminner, .categorystorylisting .storieslisting .item.big img{
		height: 400px !important;
	}
	.storieslisting .item.big .play img{
		height: auto !important;
	}

}

@media (min-width:1200px) and (max-width:1500px) {
	.header .headerbottom .categorymenus ul li{
		width: auto !important;
		padding: 0 20px;
		float: none;
		display: inline-block;	
	}
	.pagination ul li{
		padding: 0 8px;
	}
	.ourteamitems .item .content h3{
		margin-top: 0;
	}
	.ourteamitems .item .content h3 img{
		width: 35px;	
	}
}

@media (min-width:1551px) and (max-width:1700px) {
	.header .headertop .contact{
		padding: 25px 30px;
	}
	.header .headertop .social{
		padding: 26px 30px;
	}
	.header .headertop .downloadapp{
		padding: 19px 30px;
	}
	
	.categorystorylisting .storieslisting .item .iteminner,
	.categorystorylisting .storieslisting .item.big img{
		height: 435px;
	}
	
	.header .headerbottom .categorymenus ul li{
		padding: 0 40px;
	}

	.distributerlisting .distributeritems .item .info img{
		width: 25px;
	}
	.distributerlisting .distributeritems .item .info label{
		padding-right: 14px;
	}
	.ourteamitems .item .content h3{
		margin-top: 0;
	}
	.ourteamitems .item .content h3 img{
		width: 35px;	
	}
	.storieslisting .item .image img{
		max-height: 220px;
	}
}

@media (min-width:1401px) and (max-width:1550px) {
	.header .headerbottom .categorymenus ul li{
		padding: 0 33px;
	}
	.header .headertop{
		height: 60px;
	}
	.header .headertop .contact{
		padding: 19px 20px;
	}
	.header .headertop .social{
		padding: 20px 20px;	
	}
	.header .headertop .downloadapp{
		padding: 4px 20px;
		padding-right: 0;
	}
	.header .headertop .contact a{
		font-size: 15px;
	}
	.header .headertop .contact a img{
		width: 13px;
	}
	.header .headertop .social ul li{
		padding: 0 10px;
	}
	.header .headertop .social ul li img{
		height: 15px;
		object-fit: contain;
	}
	.header .headertop .downloadapp label{
		font-size: 15px;
	}
	.header .headertop .downloadapp img{
		width: 20px;
		margin: 0 10px;
	}
	.header .headertop .address{
		padding: 7px 40px;
	}
	.header .headertop .address img{
		width: 15px;
		margin-right: 10px;
	}
	.header .headertop .address label{
		font-size: 14px;
	}
	.header .headertop .address label a{
		font-size: 12px;
	}
	.header .headertop .weather{
		padding: 5px 0;
		padding-right: 40px;
	}
	.header .headertop .weather img{
		width: 20px;
	}
	.header .headertop .weather .dropdown button{
		font-size: 14px;
	}
	.header .headertop .weather .dropdown button i{
		font-size: 15px;
	}
	.header .headertop .login a{
		height: 60px;
		width: 185px;
		font-size: 15px;
		padding: 16px 0;
	}
	.header .headertop .login a img{
		width: 23px;
	}
	.header .headermiddle .logo img{
		width: 80%;
	}
	.header .headermiddle .menus{
		width: 75%;
		padding: 22px 0;
	}
	.header .headermiddle .search{
		width: 5%;
	}
	.header .headermiddle .menus ul li{
		padding: 0 25px;
	}
	.header .headermiddle .menus ul li a{
		font-size: 16px;
	}
	.header .headermiddle .search{
		padding: 22px 0;
	}
	.header .headermiddle .search img{
		width: 20px;
	}

	.heroslider .sliderdots .item{
		padding-right: 10px;
	}
	.heroslider .sliderdots .item:last-child{
		padding-right: 0;
	}
	.heroslider .slideritems .item h2{
		font-size: 65px;
		line-height: 70px;
	}
	.heroslider .slideritems .item h4{
		font-size: 25px;
		line-height: 36px;
	}
	.heroslider .slideritems .item h5{
		font-size: 20px;
		line-height: 30px;
	}
	.heroslider .sliderdots .item .img{
		width: 28%;
	}
	.heroslider .sliderdots .item span{
		font-size: 12px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 16px;
		margin-top: 0;
	}
	.heroslider .sliderdots .item .info{
		padding-left: 10px;
	}

	.categorywisestory .heading h3{
		font-size: 40px;
		line-height: 53px;
	}
	.storieslisting .item .content span{
		font-size: 14px;
	}
	.storieslisting .item .content{
		padding: 18px;
	}
	.storieslisting .item .content h3{
		font-size: 18px;
	}
	.storieslisting .item .content p{
		font-size: 15px;
	}

	.footer{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.footer .footerbottom{
		padding-top: 30px;
	}
	.footer .aboutfooter h3{
		font-size: 22px;
	}
	.footer .aboutfooter p{
		font-size: 15px;
	}
	.footer .widget h4{
		font-size: 18px;
	}
	.footer .widget ul li a{
		font-size: 16px;
	}
	.footer .localarea p{
		font-size: 16px;
	}

	.footer .aboutfooter{
		padding-right: 30px;
	}
	.footer .downloadapp{
		padding-left: 30px;
	}
	.footer .wttnews,
	.footer .localarea{
		padding-left: 30px;
		padding-right: 30px;
	}
	.footer .wttnews{
		width: 22%;
	}
	.footer .downloadapp ul li a{
		font-size: 14px;
	}
	.categorystorylisting .storieslisting .item .iteminner,
	.categorystorylisting .storieslisting .item.big img{
		height: 445px;
	}
	.distributerlisting .distributeritems .item .info img{
		width: 24px;
	}
	.distributerlisting .distributeritems .item .info label{
		padding-right: 12px;
		font-size: 13px;
	}
	.distributerlisting .distributeritems .item .info span{
		font-size: 13px;
	}
	
	.storieslisting .item .image img{
		max-height: 195px;
	}

}

@media (min-width:1100px) and (max-width:1280px) {
	.storieslisting .item .content h3{
		font-size: 16px !important;
		line-height: 25px;
	}
	.storieslisting .item .iteminner .featureimg{
		height: 180px;
	}
	.header .headerbottom .categorymenus ul li{
		padding: 0 20px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 16px !important;
		line-height: 20px;
	}
	.storieslisting .item .content h3{
		height: 90px;
	}
	.sitecontainer{
		max-width: 1150px;
	}
}

@media (min-width:1025px) and (max-width:1099px) {
	.storieslisting .item .content h3{
		font-size: 15px !important;
		line-height: 25px;
	}
	.storieslisting .item .content p{
		font-size: 13px !important;
	}
	.storieslisting .item .iteminner .featureimg{
		height: 150px;
	}
	.header .headerbottom .categorymenus ul li{
		padding: 0 15px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 15px !important;
		line-height: 18px;
	}
}

@media (min-width:1024px) and (max-width:1400px) {
	.termsprivacy,
	.ourstoryteams{
		padding-left: 20px;
		padding-right: 20px;
	}
	.header .headertop{
		height: 60px;
	}
	.header .headertop .contact{
		padding: 19px 20px;
	}
	.header .headertop .social{
		padding: 20px 20px;	
	}
	.header .headertop .downloadapp{
		padding: 4px 20px;
		padding-right: 0;
	}
	.header .headertop .contact a{
		font-size: 15px;
	}
	.header .headertop .contact a img{
		width: 13px;
	}
	.header .headertop .social ul li{
		padding: 0 10px;
	}
	.header .headertop .social ul li img{
		height: 15px;
		object-fit: contain;
	}
	.header .headertop .downloadapp label{
		font-size: 15px;
	}
	.header .headertop .downloadapp img{
		width: 20px;
		margin: 0 10px;
	}
	.header .headertop .address{
		padding: 7px 40px;
	}
	.header .headertop .address img{
		width: 15px;
		margin-right: 10px;
	}
	.header .headertop .address label{
		font-size: 14px;
	}
	.header .headertop .address label a{
		font-size: 12px;
	}
	.header .headertop .weather{
		padding: 5px 0;
		padding-right: 40px;
	}
	.header .headertop .weather img{
		width: 20px;
	}
	.header .headertop .weather .dropdown button{
		font-size: 14px;
	}
	.header .headertop .weather .dropdown button i{
		font-size: 15px;
	}
	.header .headertop .login a{
		height: 60px;
		width: 185px;
		font-size: 15px;
		padding: 16px 0;
	}
	.header .headertop .login a img{
		width: 23px;
	}
	.header .headermiddle .logo img{
		width: 80%;
	}
	.header .headermiddle .menus{
		width: 75%;
		padding: 22px 0;
	}
	.header .headermiddle .search{
		width: 5%;
	}
	.header .headermiddle .menus ul li{
		padding: 0 25px;
	}
	.header .headermiddle .menus ul li a{
		font-size: 16px;
	}
	.header .headermiddle .search{
		padding: 22px 0;
	}
	.header .headermiddle .search img{
		width: 20px;
	}

	.heroslider .sliderdots .item{
		padding-right: 10px;
	}
	.heroslider .sliderdots .item:last-child{
		padding-right: 0;
	}
	.heroslider .slideritems .item h2{
		font-size: 65px;
	}
	.heroslider .slideritems .item h4{
		font-size: 25px;
	}
	.heroslider .slideritems .item h5{
		font-size: 20px;
	}
	.heroslider .sliderdots .item .img{
		width: 28%;
	}
	.heroslider .sliderdots .item span{
		font-size: 12px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 16px;
		margin-top: 0;
	}
	.heroslider .sliderdots .item .info{
		padding-left: 10px;
	}

	.categorywisestory .heading h3{
		font-size: 40px;
		line-height: 53px;
	}
	.storieslisting .item .content span{
		font-size: 14px;
	}
	.storieslisting .item .content{
		padding: 18px;
	}
	.storieslisting .item .content h3{
		font-size: 18px;
	}
	.storieslisting .item .content p{
		font-size: 15px;
	}

	.footer{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.footer .footerbottom{
		padding-top: 30px;
	}
	.footer .aboutfooter h3{
		font-size: 22px;
	}
	.footer .aboutfooter p{
		font-size: 15px;
	}
	.footer .widget h4{
		font-size: 18px;
	}
	.footer .widget ul li a{
		font-size: 16px;
	}
	.footer .localarea p{
		font-size: 16px;
	}

	.footer .aboutfooter{
		padding-right: 30px;
	}
	.footer .downloadapp{
		padding-left: 30px;
	}
	.footer .wttnews,
	.footer .localarea{
		padding-left: 30px;
		padding-right: 30px;
	}
	.footer .wttnews{
		width: 22%;
	}
	.footer .downloadapp ul li a{
		font-size: 14px;
	}
	.flightticketbook h2{
		font-size: 30px;
	}
	.categorystorylisting .storieslisting .item .iteminner,
	.categorystorylisting .storieslisting .item.big img{
		height: 445px;
	}

	.articledetails .articlecontent p{
		font-size: 18px;
	}
	.articledetails .rightside h2{
		font-size: 40px;	
	}
	.articledetails .topstory .item h3{
		font-size: 20px;
	}
	.articledetails .topstory .item p{
		font-size: 16px;
	}
	.articledetails .topstory .item label,
	.articledetails .topstory .item span{
		font-size: 15px;
	}

	.localarealistingitems .item .image h3{
		font-size: 20px;
	}
	.localarealistingitems .item .image h3{
		left: 15px;
		bottom: 15px;
	}
	.localarealistingitems .item .image a{
		width: 35px;
		right: 15px;
		bottom: 15px;
	}

	.distributerlisting .distributeritems .item .content{
		padding-left: 15px;
	}
	.distributerlisting .distributeritems .item .info img{
		width: 25px;
	}
	.distributerlisting .distributeritems .item .info label{
		padding-right: 10px;
	}
	.distributerlisting .distributeritems .item .info label,
	.distributerlisting .distributeritems .item .info span{
		font-size: 12px;
	}

	.loginheader{
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media (min-width:991px) and (max-width:1025px) {
	.header .headertop{
		height: 60px;
	}
	.header .headertop .contact{
		padding: 19px 14px;
	}
	.header .headertop .social{
		padding: 20px 14px;	
	}
	.header .headertop .downloadapp{
		padding: 4px 14px;
		padding-right: 0;
	}
	.header .headertop .contact a{
		font-size: 14px;
	}
	.header .headertop .contact a img{
		width: 12px;
	}
	.header .headertop .social ul li{
		padding: 0 8px;
	}
	.header .headertop .social ul li img{
		height: 13px;
		object-fit: contain;
	}
	.header .headertop .downloadapp label{
		font-size: 14px;
	}
	.header .headertop .downloadapp img{
		width: 18px;
		margin: 0 5px;
	}
	.header .headertop .address{
		padding: 7px 20px;
	}
	.header .headertop .address img{
		width: 14px;
		margin-right: 8px;
	}
	.header .headertop .address label{
		font-size: 13px;
	}
	.header .headertop .address label a{
		font-size: 11px;
	}
	.header .headertop .weather{
		padding: 5px 0;
		padding-right: 30px;
	}
	.header .headertop .weather img{
		width: 18px;
	}
	.header .headertop .weather .dropdown button{
		font-size: 13px;
	}
	.header .headertop .weather .dropdown button i{
		font-size: 14px;
	}
	.header .headertop .login a{
		height: 60px;
		width: 185px;
		font-size: 14px;
		padding: 16px 0;
	}
	.header .headertop .login a img{
		width: 22px;
	}
	.header .headermiddle .logo img{
		width: 80%;
	}
	.header .headermiddle .menus{
		width: 75%;
		padding: 18px 0;
	}
	.header .headermiddle .search{
		width: 5%;
	}
	.header .headermiddle .menus ul li{
		padding: 0 20px;
	}
	.header .headermiddle .menus ul li a{
		font-size: 16px;
	}
	.header .headermiddle .search{
		padding: 18px 0;
	}
	.header .headermiddle .search img{
		width: 20px;
	}

	.heroslider .sliderdots .item{
		padding-right: 10px;
	}
	.heroslider .sliderdots .item:last-child{
		padding-right: 0;
	}
	.heroslider .slideritems .item h2{
		font-size: 65px;
	}
	.heroslider .slideritems .item h4{
		font-size: 25px;
	}
	.heroslider .slideritems .item h5{
		font-size: 20px;
	}
	.heroslider .sliderdots .item .img{
		width: 28%;
	}
	.heroslider .sliderdots .item span{
		font-size: 12px;
	}
	.heroslider .sliderdots .item h4{
		font-size: 16px;
		margin-top: 0;
	}
	.heroslider .sliderdots .item .info{
		padding-left: 10px;
	}

	.categorywisestory .heading h3{
		font-size: 40px;
		line-height: 53px;
	}
	.storieslisting .item .content span{
		font-size: 14px;
	}
	.storieslisting .item .content{
		padding: 18px;
	}
	.storieslisting .item .content h3{
		font-size: 18px;
	}
	.storieslisting .item .content p{
		font-size: 15px;
	}

	.footer{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.footer .footerbottom{
		padding-top: 30px;
	}
	.footer .aboutfooter h3{
		font-size: 20px;
	}
	.footer .aboutfooter p{
		font-size: 13px;
	}
	.footer .widget h4{
		font-size: 16px;
	}
	.footer .widget ul li a{
		font-size: 14px;
	}
	.footer .localarea p{
		font-size: 15px;
	}

	.footer .aboutfooter{
		padding-right: 20px;
	}
	.footer .downloadapp{
		padding-left: 20px;
	}
	.footer .wttnews,
	.footer .localarea{
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer .wttnews{
		width: 22%;
	}
	.footer .downloadapp ul li a{
		font-size: 12px;
	}

	.localarealistingitems .item .image h3{
		font-size: 18px;
	}
	.localarealistingitems .item .image h3{
		left: 10px;
		bottom: 10px;
	}
	.localarealistingitems .item .image a{
		width: 30px;
		right: 10px;
		bottom: 10px;
	}
}


@media (max-width:1300px) {
	.subscribebreadcumbs{
		position: unset;
		padding-bottom: 15px;
	}
	.recomndedbusiness .businessslider{
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media (max-width:1024px) {
	.heroslider .slideritems .item img{
		display: none;
	}
	.heroslider .slideritems .item{
		padding-bottom: 0;
	}
	.loginheader{
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media (min-width:992px) and (max-width:1250px) {
	.distributerlisting .distributeritems .item .image{
		width: 100%;
		padding-bottom: 5px;	
	}
	.distributerlisting .distributeritems .item .image img{
		width: 100%;	
	}
	.distributerlisting .distributeritems .item .content{
		width: 100%;
		padding-left: 0;
	}
	.distributerlisting .distributeritems .item .info img{
		width: 20px;
	}
	.distributerlisting .distributeritems .item .info label{
		font-size: 12px;
	}
	.distributerlisting .distributeritems .item .info span{
		font-size: 12px;
	}

	.searchbybusiness .iteminner h3{
		font-size: 16px;
	}
	.ourteamitems .item .content h3{
		margin-top: 0;
	}
	.ourteamitems .item .content h3 img{
		width: 35px;	
	}

	.budgetplans .budgetplansbox{
		padding-left: 15px;
		padding-right: 15px;
	}

	.businesslisting .drivequality{
		background-position: 55%;
	}

	.termsprivacy,
	.ourstoryteams{
		padding-left: 20px;
		padding-right: 20px;
	}
	.finbusiness .findbusinessform{
		padding-top: 100px;
	}

	.finbusiness .findbusinessform .field{
		width: 285px;
	}
	.recomndedbusiness .businessslider{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width:991px) {
	.header .headertop,
	.header .headermiddle .menus,
	.header .headermiddle .search{
		display: none;
	}
	.header .headermiddle .logo{
		width: 100%;
		text-align: center;
	}
	.header .headermiddle .logo img{
		width: 150px;
	}
	.headerbottom{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.headerbottom .mobilecategorymenus{
	  display: block;
	}
	.headerbottom .desktopcategorymenus{
	  display: none;
	}
	.heroslider .slideritems .item .content{
		width: 100%;
		padding-top: 30px;
	}
	.heroslider .slideritems .item h2 br,
	.heroslider .slideritems .item h4 br,
	.heroslider .slideritems .item h5 br{
		display: none;
	}
	.heroslider .slideritems .item .image{
		width: 100%;
	}
	.heroslider .sliderdots{
		margin-top: 0;
	}
	.heroslider .sliderdots .item .info{
		padding-left: 7px	;
	}
	.heroslider .sliderdots .item span,
	.heroslider .sliderdots .item h4{
		font-size: 12px;
		margin: 0;
		line-height: normal;
	}
	.flightticketbook .planeleft,
	.flightticketbook .planeright{
		display: none;
	}
	.flightticketbook{
		text-align: center;
	}
	.flightticketbook h2{
		float: left;
		width: 100%;
		text-align: center;
		padding: 0;
		font-size: 25px;
		padding-bottom: 10px;
	}
	.flightticketbook a{
		margin: 0;
	}
	.flightticketbook .flightticketbox{
		padding: 30px;
	}

	.searchresults{
		padding-top: 70px;
	}
	.searchresults .addlisting{
		top: 15px;
		right: 20px;
	}

	.contactus .contactusbox .contatform .button input{
		width: 100%;
	}

}
@media (min-width:768px) and (max-width:991px) {
	h1,h2,h3,h4,h5,h6,p{
		line-height: normal !important;
	}
	.sitecontainer{
		padding: 0 15px;
	}
	.storieslisting .item{
		width: 50%;
	}
	.footer .widget{
		width: 50% !important;
		padding: 0 50px !important;
		border: none !important;
		min-height: 500px !important;
		padding-bottom: 30px !important;
	}
	.categorystorylisting .storieslisting .item.big{
		width: 100% !important;
	}
	.categorystorylisting .storieslisting .item .iteminner{
		height: auto;
	}
	.categorystorylisting .storieslisting .item.big img{
		height: auto;
	}
	.localarealistingitems .item{
		width: 50%;
	}
	.localarealistingitems .item .image h3{
		font-size: 20px;
	}

	.localdistributers h1{
		font-size: 18px;
		padding-top: 0;
		line-height: normal;
	}
	.localdistributers .distributerlisting{
		padding-top: 0;
	}
	.localdistributers .distributerlisting .distributeritems{
		width: 100%;
	}
	.distributerlisting .searchdirectory{
		width: 100%;
		padding-left: 0;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.localdistributers .directorymaplisting{
		position: unset;
		padding-bottom: 20px;
	}
	.localdistributers .directorymap #dvMap{
		height: 500px;
	} 
	.heroslider .slideritems .item h2{
		font-size: 45px;
	}
	.articledetails .topstory .item h3{
		font-size: 14px;
	}
	.storieslisting .item .content p, .articledetails .topstory .item p, .articledetails .topinfo, .localarealistingitems .item .content p{
		font-size: 14px;
	}
	.categorybanner .heading h1{
		font-size: 55px;
	}
	.categorybanner .heading{
		bottom: 15px;
	}
	.articledetails .rightside{
		padding-left: 0;
	}
	.localarealistingitems .item .image h3{
		font-size: 16px;
	}
	.viewareabreadcrumb h1{
		font-size: 40px;
	}

	.viewareagallery .viewareagalleryitems .itemright .item img{
		height: 100px;
	}
	.viewareagallery .viewareagalleryitems .itemleft .item img{
		height: 225px;
		width: 100%;
	}
	.viewareagallery .viewareagalleryitems .item label{
		font-size: 20px;
	}
	.modal-dialog{
		width: 80%;
	}

	.subscribebox .subscribeplan{
		text-align: center;
	}
	.subscribebox .subscribeplan .item{
		float: none;
		margin: 0 auto;
		margin: 0 5px;
		width: 30%;
	}

	.busenesslisting .item{
		width: 33.33%;
	}

	.searchbybusiness .item{
		width: 33.33%;
		float: left;
		padding: 8px;
	}
	.searchbybusiness .iteminner h3{
		font-size: 16px;
	}

	.bussinesscontactinfo .items{
		padding: 15px;
	}
	.bussinesscontactinfo .items .item{
		width: 50% !important;
		text-align: left;
		border: none !important;
	}
	.bussinesscontactinfo .items .item p{
		font-size: 14px;
	}
	.bussinesscontactinfo .items .item img{
		max-width: 25px;
	}

	.businesslisting .businessbanner .image{
		width: 100%;
	}
	.businesslisting .businessbanner .image img{
		width: 100%;	
	}
	.businesslisting .businessbanner .content{
		width: 100%;
		padding: 20px;
	}
	.budgetplans .budgetplansbox{
		padding-left: 0;
		padding-right: 0;
	}
	.budgetplans .budgetplansbox .item .iteminner{
		padding: 10px;
	}
	.budgetplans .budgetplansbox .item{
		padding: 5px;	
	}
	.budgetplans .budgetplansbox .item ul li{
		font-size: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.budgetplans .budgetplansbox .item .button a{
		width: 100%;
	}

	.subscriptionbox .plandetails .paymentdetail{
		padding-left: 0;
	}
	.plandetails .paymentdetail .paymethod ul li label{
		width: 60px;
	}

	.businesssubscription .back{
	    position: unset;
	    padding-bottom: 20px;
	}
	.ourteamitems .item{
		width: 100%;
	}

	.contactus .contactusbox .contactinfo .phonefax .halfitem{
		width: 50%;
	}
	.contactus .contactusbox .contactinfo .item label{
		width: 100%;
		padding-left: 0 !important;
		font-size: 14px;
	}

	.finbusiness .findbusinessform{
		padding-top: 100px;
	}
}

@media (max-width:767px) {

	.recomndedbusiness .businessslider{
		padding-left: 20px;
		padding-right: 20px;
	}
	h1,h2,h3,h4,h5,h6,p{
		line-height: normal !important;
	}
	.header .headertop,
	.header .headermiddle .menus,
	.header .headermiddle .search{
		display: none;
	}
	.header .headermiddle .logo{
		width: 100%;
		text-align: center;
	}
	.header .headermiddle .logo img{
		width: 150px;
	}
	.headerbottom{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.heroslider{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.heroslider .slideritems .item .content{
		width: 100%;
	}
	.heroslider .slideritems .item h2{
		font-size: 30px;
		line-height: normal;
	}
	.heroslider .slideritems .item .possted p{
		font-size: 14px;
	}
	.heroslider .slideritems .item h2 br,
	.heroslider .slideritems .item h4 br,
	.heroslider .slideritems .item h5 br{
		display: none;
	}
	.heroslider .slideritems .item h4{
		font-size: 18px;
	}
	.heroslider .slideritems .item h5{
		font-size: 16px;
	}
	.heroslider .slideritems .item a.viewstory{
		font-size: 16px;
	}
	.heroslider .slideritems .item .image{
		width: 100%;
	}
	.heroslider .sliderdots{
		margin-top: 0;
	}
	.heroslider .sliderdots .item .info{
		display: none;
	}
	.heroslider .sliderdots .item .img{
		width: 100%;
	}
	.heroslider .sliderdots .item .img img{
		padding: 3px;
	}
	.flightticketbook .planeleft,
	.flightticketbook .planeright{
		display: none;
	}
	.flightticketbook{
		text-align: center;
	}
	.flightticketbook h2{
		float: left;
		width: 100%;
		text-align: center;
		padding: 0;
		font-size: 20px;
		padding-bottom: 10px;
	}
	.flightticketbook a{
		margin: 0;
	}
	.flightticketbook .flightticketbox{
		padding: 30px;
	}

	.storieslisting .item{
		width: 50%;
	}

	.footer{
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer .widget{
		width: 100% !important;
		padding: 0 !important;
		height: auto !important;
		min-height: auto !important;
		border: none !important;
		padding-bottom: 30px !important;
	}
	.footer .footerbottom{
		padding-top: 30px;
	}
	.footer .footerbottom .logo,
	.footer .footerbottom .copyright,
	.footer .footerbottom .social{
		width: 100%;
	}
	.footer .footerbottom .social{
		padding-top: 0;
	}
	.footer .footerbottom .social ul{
		text-align: center;	
	}
	.categorystorylisting .storieslisting .item .iteminner{
		height: auto;
	}
	.categorystorylisting .storieslisting .item.big img{
		height: auto;
	}
	.categorystorylisting .storieslisting .item.big{
		width: 100% !important;
	}

	.categorybanner .heading{
		bottom: 5px;
	}
	.categorybanner .heading span{
		font-size: 18px;
	}
	.categorybanner .heading h1{
		font-size: 30px;
		margin-top: 0;
	}
	.pagination ul li{
		padding: 0 8px;
	}

	.categorydetailbanner h1{
		font-size: 20px;
	}
	.categorydetailbanner h1 br{
		display: none;
	}
	.categorydetailbanner{
		padding: 20px 0;
	}
	.articledetails .leftside{
		width: 100%;
		padding-right: 0;
	}
	.articledetails .rightside{
		width: 100%;
		padding-left: 0;
	}
	.articledetails .topinfo img{
		height: 25px;
	}
	.articledetails .topinfo img{
		margin-right: 5px;
	}
	.articledetails .topinfo span{
		font-size: 15px;
	}
	.articledetails .topinfo{
		font-size: 15px;
	}
	.articledetails .rightside{
		padding-top: 20px;
	}
	.articledetails .rightside h2{
		font-size: 30px;
		margin-bottom: 10px;
	}
	.articledetails .topstory .item label{
		float: left;
		width: 100%;
	}
	.articledetails .topstory .item span{
		float: left;
		width: 100%;
	}
	.articledetails .topstory .item h3{
		font-size: 18px;
	}
	.articledetails{
		padding-bottom: 10px;
	}
	.categorywisestory .heading{
		padding-bottom: 10px;
	}
	.articledetails .imageslider .galleryimg .item{
		margin-bottom: 10px;
	}
	.articledetails .imageslider .mainimage{
		padding-right: 5px;
	}
	.localarealistingitems .item .image h3{
		font-size: 16px;
	}
	.localarealistingitems .item .image a img{
		width: 30px;
	}
	.localarealistingitems .item .content{
		padding: 20px;
	}
	.localarealistingitems .item .content p{
		font-size: 16px;
	}
	.localarealistingitems .item{
		padding: 10px;
	}
	.localarealistingitems .item{
		width: 50%;
	}

	.localdistributers h1{
		font-size: 18px;
		padding-top: 0;
	}
	.localdistributers .distributerlisting{
		padding-top: 0;
	}
	.localdistributers .distributerlisting .distributeritems{
		width: 100%;
	}
	.distributerlisting .searchdirectory{
		width: 100%;
		padding-left: 0;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.localdistributers .directorymaplisting{
		position: unset;
		padding-bottom: 20px;
	}
	.localdistributers .directorymap #dvMap{
		height: 500px;
	} 

	.header .headerbottom .categorymenus ul li{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.articledetails .topstory .item h3{
		font-size: 16px;
	}
	.articledetails .rightside h2{
		text-align: center;
	}
	.modal-dialog{
		width: 75%;
	}

	.subscription{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.subscription .subscribebox{
		padding: 50px 20px;
		padding-bottom: 30px;
	}
	.subscription .subscribebox h4{
		font-size: 20px;
	}

	.subscribebox .subscribeplan .item{
		margin: 0 5px;
	}
	.subscribebox .subscribeplan .item label{
		font-size: 16px;
	}
	.subscribebox .subscribeplan .item span{
		font-size: 14px;
	}
	.subscription .subscribebox .subscribeplan{
		text-align: center;
	}
	.subscribebox .subscribeplan .item{
		float: none;
		width: 30%;
		display: inline-block;
	}

	.userloginregister{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.userloginregister .formbox{
		padding: 20px;
	}
	.userloginregister .formbox h2{
		font-size: 20px;
		padding-bottom: 5px;
	}
	.userloginregister .formbox .field input[type="text"], 
	.userloginregister .formbox .field input[type="email"], 
	.userloginregister .formbox .field input[type="password"], 
	.userloginregister .formbox .field textarea{
		padding: 5px 15px;
		font-size: 15px;
	}
	.userloginregister .formbox .field{
		padding: 10px 0;
	}
	.userloginregister .formbox .agreeterms p{
		font-size: 14px;
	}
	.userloginregister .checkinbox .button a,
	.userloginregister .formbox .button button{
		font-size: 16px;
		padding: 10px 0;
	}
	.userloginregister .formbox p{
		font-size: 15px;
	}
	.userloginregister .formbox .field label{
		font-size: 15px;
	}
	.userloginregister .formbox .otherlogin ul li{
		padding: 0 3px;
	}
	.userloginregister .formbox .otherlogin ul li a{
		width: 75px;
		padding: 7px 0;
	}
	.userloginregister .formbox .newuser p,
	.userloginregister .formbox .newuser p a{
		font-size: 13px;
	}


	.subscriptionsplans{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.subscriptionsplans .subscriptionsbox h2{
		font-size: 25px;
		padding-bottom: 15px;
	}
	.subscriptionsplans .subscriptionsbox{
		padding: 20px;
	}
	.subscriptionsplans .subscriptionsbox h4{
		font-size: 18px;
	}
	.subscriptionsbox .plandetails .planinfo{
		width: 100%;
	}
	.subscriptionsbox .plandetails .planbuttons{
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}
	.subscriptionsplans .subscriptionsbox .plandetails{
		padding: 15px;
	}
	.subscriptionsbox .plandetails .planbuttons a{
		float: none;
		display: inline-block;
		width: auto;
		padding: 6px 15px;
		font-size: 14px;
	}
	.subscriptionsbox .plandetails .planbuttons a img{
		width: 12px;
	}
	.subscriptionsbox .paymentmethods .item{
		padding: 7px 15px;
	}
	.subscriptionsbox .paymentmethods .item img{
		width: 20px;
	}
	.subscriptionsbox .paymentmethods .item span{
		font-size: 15px;
	}
	.subscriptionsbox .paymentmethods .item .dropdown button img{
		width: auto;
	}
	.subscriptionsbox .addpaymentmethod a{
		font-size: 15px;
	}
	.subscriptionsbox .addpaymentmethod a img{
		width: 30px;
	}
	.subscriptionsbox .paymentmethods .item .dropdown ul li a{
		font-size: 15px;
	}

	.finbusiness{
		padding-top: 90px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.finbusiness .addlisting{
		right: 20px;
		top: 20px;
	}
	.finbusiness h1{
		font-size: 35px;
		padding-bottom: 5px;	
	}
	.finbusiness p{
		font-size: 16px;
	}
	.finbusiness .findbusinessform .form{
		padding-top: 30px;	
	}
	.finbusiness .findbusinessform .field{
		padding: 0;
		width: 100%;
		padding-bottom: 5px;
	}
	.finbusiness .findbusinessform .field input, 
	.finbusiness .findbusinessform .field select{
		padding: 8px 15px;
		font-size: 16px;
	}
	.finbusiness .findbusinessform .form .button{
		padding-top: 5px;
	}
	.finbusiness .findbusinessform .form .button button{
		padding: 8px 15px;
		font-size: 16px;	
		width: 100%;
	}

	.busenessheadding{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.busenesslisting .item{
		width: 50%;
	}

	.searchbybusiness .item{
		width: 33.33%;
		float: left;
		padding: 8px;
	}

	.searchdirectory .searchfields .field input, 
	.searchdirectory .searchfields .field select{
		float: left;
		width: 100%;
		padding: 5px 15px;
		font-size: 14px;
	}
	.searchresults .searchdirectory .searchfields .field{
		float: left;
		width: 100% !important;
		padding: 0 !important;
		padding-bottom: 20px !important;
	}
	.searchdirectory .searchfields .field button{
		padding: 5px 15px;
		font-size: 14px;
	}
	.searchdirectory .searchfields .field .select img{
		right: 8px;
		top: 6px;
	}

	.viewareabreadcrumbinner .addlisting{
		position: unset;
		float: left;
		margin-top: 10px;	
	}
	.bussinesscontactinfo .items{
		padding: 15px;
	}
	.bussinesscontactinfo .items .item{
		width: 100% !important;
		text-align: left;
		border: none !important;
		padding: 5px 0;
	}
	.bussinesscontactinfo .items .item p{
		font-size: 14px;
	}
	.bussinesscontactinfo .items .item img {
    	max-width: 20px;
	}
	.socialshare .items{
		padding: 10px;
	}
	.socialshare .items ul li{
		padding: 0 2px;
	}
	.socialshare .items ul li img{
		max-width: 25px;
	}

	.viewareagallery .imagecrowsel{
	  display: block;
	}
	.viewareagallery .viewareagalleryitems{
	  display: none;
	}

	.businesslisting .businessbanner .image{
		width: 100%;
	}
	.businesslisting .businessbanner .content{
		width: 100%;
		padding: 20px;
	}
	.businesslisting .businessbanner h2{
		font-size: 30px;
		padding-bottom: 0;
		margin-top: 0;
	}
	.businesslisting .businessbanner p{
		font-size: 16px;
	}
	.businesslisting .businessbanner p br{
		display: none;
	}
	.businesslisting .businessbanner .buttons{
		padding-top: 10px;
	}
	.businesslisting .businessbanner .buttons a{
		width: auto;
		padding: 7px 15px;
		font-size: 15px;
	}
	.businesslisting .businessbanner .buttons .contact{
		margin-left: 4px;
	}
	.businesslisting .drivequality{
		padding: 20px;
	}
	.businesslisting .drivequality .content h2,
	.businesslisting .budgetplans h2,
	.businesscontactus .heading h2{
		margin: 0;
		font-size: 30px;
	}
	.businesslisting .drivequality .content h2 br,
	.businesslisting .drivequality .content p br,
	.businesscontactus .heading p br{
		display: none;
	}
	.businesslisting .drivequality .content p,
	.businesscontactus .heading p{
		font-size: 16px;
	}
	.businesslisting .drivequality .buttons a{
		width: auto;
		padding: 7px 15px;
		font-size: 15px;
	}
	.businesslisting .drivequality .buttons .contact{
		margin-left: 4px;
	}
	.businesslisting .drivequality .viewadd{
		width: 100%;
		padding: 7px 15px;
		font-size: 15px;
	}
	.businesslisting .budgetplans{
		padding: 20px;
	}
	.budgetplans .budgetplansbox{
		padding-left: 0;
		padding-right: 0;
	}
	.budgetplans .budgetplansbox .item{
		width: 100%;
		padding: 0;
		margin-bottom: 15px;
	}
	.budgetplans .budgetplansbox .item .iteminner{
		padding: 10px;
	}
	.budgetplans .budgetplansbox .item ul li{
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 15px;
	}
	.budgetplans .budgetplansbox .item .button a{
		font-size: 16px;
	}
	.businesslisting .businesscontactus{
		padding: 20px 15px;
	}
	.businesscontactus .contactform .formfield .field{
		width: 100%;
		margin-bottom: 10px;
	}
	.businesscontactus .contactform .formfield .field:last-child{
		margin-bottom: 0;
	}

	.businessdetails{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.businessdetails .businessdetailsbox{
		padding: 20px;
	}
	.businessdetails .businessdetailsbox h2{
		font-size: 30px;
	}
	.businessdetailsbox .profileform .formfield .fields{
		width: 100% !important;
	}
	.profileform .formfield .photos .item{
		width: 33.33%;
		padding-bottom: 5px;
	}
	.profileform .formfield .item .iteminner,
	.profileform .formfield .photos .item img{
		height: 85px;
	}

	.businesssubscription{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.businesssubscription .subscriptionbox{
		padding: 20px;
	}
	.businesssubscription .subscriptionbox h2{
		font-size: 30px;
	}
	.businesssubscription .subscriptionbox .plandetails{
		padding-top: 20px;
	}
	.subscriptionbox .plandetails .planinfo .item{
		padding: 0;
	}
	.subscriptionbox .plandetails .planinfo{
		width: 100%;
		padding-right: 0;	
	}
	.subscriptionbox .plandetails .paymentdetail{
		width: 100%;
		padding-left: 0;
	}
	.plandetails .paymentdetail .paymethod ul li{
		padding: 0 3px;
	}
	.plandetails .paymentdetail .paymethod ul li label{
		width: 60px;
		height: 45px;
	}
	.paymentdetail .paymethod .button{
		padding-top: 20px;	
	}
	.businesssubscription .back{
	    position: unset;
	    padding-bottom: 20px;
	}

	.termsprivacy{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.termsprivacy h1{
		font-size: 30px;
		padding-bottom: 20px;
	}
	.termsprivacy p{
		font-size: 16px;	
	}
	.ourstoryteams{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.ourstoryteams h1{
		font-size: 30px;
		padding-bottom: 10px;
	}
	.ourstoryteams p{
		font-size: 16px;
	}

	.ourteamitems .item{
		width: 100%;
	}
	.ourteamitems{
		padding-top: 15px;
	}
	.ourteamitems .item{
		padding: 0;
		padding-bottom: 20px;
	}
	.ourteamitems .item .iteminner{
		padding: 15px;
	}
	.ourteamitems .item .image{
		width: 100%;
	}
	.ourteamitems .item .image img{
		width: 100%;
	}
	.ourteamitems .item .content{
		width: 100%;
	}
	.ourteamitems .item .content h3{
		font-size: 16px;
	}
	.ourteamitems .item .content h3 span{
		padding: 0 5px !important;
	}
	.ourteamitems .item .content h3 img{
		width: 30px;
	}
	.ourteamitems .item .content p{
		font-size: 16px;
	}

	.contactus{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.contactus .contactusbox{
		padding: 20px;
	}
	.contactus .contactusbox .heading h2{
		font-size: 30px;
	}
	.contactus .contactusbox .heading p{
		font-size: 16px;
	}
	.contactus .contactusbox .contactinfo .leftside{
		width: 100%;
	}
	.contactus .contactusbox .contactinfo .leftside{
		padding: 20px;
	}
	.contactus .contactusbox .contactinfo .phonefax .halfitem{
		width: 50%;
	}
	.contactus .contactusbox .contactinfo .item label{
		width: 100%;
		padding-left: 0 !important;
		font-size: 14px;
	}

	.contactus .contactusbox .contatform{
		width: 100%;
		padding-left: 0;
		padding-top: 30px;
	}
	.contactus .contactusbox .contatform .field{
		width: 100%;
	}
	.contactus .contactusbox .contactinfo .rightside{
		width: 100%;
	}
	.contactus .contactusbox .contatform .button input{
		width: 100%;
	}
}

@media (max-width:550px) {
	.sitecontainer{
		padding: 0 15px;
	}
	.storieslisting .item{
		width: 100% !important;
	}
	.storieslisting .item .content h3{
		font-size: 18px;
	}
	.storieslisting .item .content span{
		font-size: 14px;
	}
	.storieslisting .item .content p{
		font-size: 16px;
	}
	.categorywisestory .heading h3{
		font-size: 20px;
	}
	.categorywisestory .heading a{
		font-size: 15px;
		width: 180px;
		height: 35px;
		padding: 1px 0;
	}

	.footer{
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer .widget{
		width: 100% !important;
		padding: 0 !important;
		height: auto !important;
		min-height: auto !important;
		border: none !important;
		padding-bottom: 30px !important;
	}
	.footer .footerbottom{
		padding-top: 30px;
	}
	.footer .footerbottom .logo,
	.footer .footerbottom .copyright,
	.footer .footerbottom .social{
		width: 100%;
	}
	.footer .footerbottom .social{
		padding-top: 0;
	}
	.footer .footerbottom .social ul{
		text-align: center;	
	}

	.pagination ul li{
		padding: 0 2px;
	}
	.pagination ul li i{
		font-size: 20px;
		top: 0px;
	}
	.pagination ul li a{
		height: 30px;
		width: 30px;
		font-size: 14px;
		padding: 3px 0;
	}
	.articledetails .topinfo .share{
		float: left;
		width: 100%;
		text-align: left;
		padding-top: 10px;
	}
	.articledetails .imageslider .mainimage span{
		font-size: 14px;
	}
	.articledetails .articlecontent p{
		font-size: 16px;
	}
	.articledetails .loadmorestory{
		margin-top: -90px;
	}
	.localarealistingitems .item{
		width: 100%;
	}

	.distributerlisting .distributeritems .item .image{
		width: 100%;
		padding-bottom: 5px;	
	}
	.distributerlisting .distributeritems .item .image img{
		width: 100%;	
	}
	.distributerlisting .distributeritems .item .content{
		width: 100%;
		padding-left: 0;
	}
	.distributerlisting .distributeritems .item .info img{
		width: 20px;
	}
	.distributerlisting .distributeritems .item .info label{
		font-size: 12px;
	}
	.distributerlisting .distributeritems .item .info span{
		font-size: 12px;
	}

	.storieslisting .item .content h3 br{
		display: none;
	}
	.regiontopstores{
		padding-bottom: 0;
	}
	.footer{
		padding-top: 15px;	
	}

	.viewareabreadcrumb{
		padding-top: 20px;
	}
	.viewareabreadcrumb h1{
		font-size: 25px;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.viewareabreadcrumb .play{
		float: left;
	}
	.viewareagallery .viewareagalleryitems .itemleft{
		width: 100%;
	}
	.viewareagallery .viewareagalleryitems .itemright{
		width: 100%;
	}
	.viewareagallery .viewareagalleryitems .itemright .item{
		width: 100%;
		padding: 8px;
	}
	.viewareagallery .viewareagalleryitems .itemright .item img{
		max-height: none;
	}
	.viewareacontent p{
		font-size: 16px;
	}
	.localarealisting .localarealistingitems{
		padding-bottom: 10px;
	}
	.flightticketbook{
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.localdistributers .distributerlisting .distributeritems{
		padding: 10px;
	}
	.localdistributers .directorymap .dirbox{
		width: 210px;
		padding: 0;
	}
	.localdistributersopen .distributeritems .item .content h3{
		font-size: 18px;
	}
	.localdistributersopen .distributeritems .item .content h3 a{
		margin-top: 5px;
	}
	.localdistributersopen .distributeritems .item .tradinghour ul li{
		font-size: 14px;
	}
	.distributeritems .distributeritemsinner{
		height: auto;
	}
	.distributerlisting .searchdirectory .searchbox input{
		height: 45px;
		font-size: 15px;
	}
	.distributerlisting .searchdirectory .searchbox img{
		width: 25px;
	}

	.subscription .subscribebox .subscribeplan{
		padding-top: 15px;
	}
	.subscribebox .subscribeplan .item{
		float: left;
		width: 100%;
		margin: 10px 0 !important;
	}
	.subscribebox .paymentdetails .carddetails .field{
		float: left;
		width: 100%;
		margin-bottom: 10px;
		padding: 5px 10px;
	}
	.subscribebox .paymentdetails .carddetails .field input{
		font-size: 14px;
	}
	.subscribebox .paymentdetails .carddetails .field.cardinfo input:nth-child(2){
		width: 30%;
	}
	.subscribebox .paymentdetails .carddetails .field.cardinfo input:nth-child(1){
		width: 55%;
	}
	.subscription .subscribebox .button button{
		width: 100%;
		font-size: 16px;
	}
	.subscription .subscribebox .button{
		padding-top: 10px;
	}
	.subscribebox .paymentdetails{
		padding-top: 0;
	}

	.loginheader .logo{
		float: left;
		width: 100%;
		text-align: center;
	}
	.loginheader .logo img{
		width: 150px;
	}
	.loginheader .myaccount{
		float: left;
		width: 100%;
		text-align: center;
		padding-top: 15px;
	}
	.loginheader .myaccount .dropdown{
		float: none;
		width: 200px;
		display: inline-block;
	}
	.loginheader .myaccount .dropdown button img{
		height: 35px;
	}
	.loginheader .myaccount .dropdown button, 
	.loginheader .myaccount .dropdown button:active, 
	.loginheader .myaccount .dropdown button:focus{
		font-size: 15px;
	}
	.loginheader .myaccount .dropdown-menu{
		padding: 5px;
	}
	.loginheader .myaccount .dropdown-menu li a{
		font-size: 15px;
	}

	.subscriptionsbox .availaableplans .item span{
		float: left;
	}
	.subscriptionsbox .availaableplans .item button{
		float: left;
	}
	.subscriptionsbox .availaableplans .item label{
		float: left;
		width: 100%;
		font-size: 16px;
	}
	.subscriptionsbox .buttons a{
		font-size: 16px;
	}
	.subscriptionsbox .buttons button{
		font-size: 16px;
		margin-left: 10px;
		padding: 5px 25px;
	}

	.myaccount .formbox .buttons a{
		padding: 10px 15px !important;
		font-size: 14px;
	}
	.myaccount .formbox .buttons button{
		padding: 6px 15px !important;
		font-size: 14px;
	}

	.busenesslisting .item{
		width: 100%;
	}
	
	.searchbybusiness .item{
		width: 50%;
		float: left;
		padding: 5px;
	}
	.searchbybusiness .iteminner h3{
		font-size: 14px;
	}
	.busenessheadding h2{
		font-size: 20px;
	}

	.bussinesscontactinfo .items .item .dropdown ul{
		width: 320px;
	}
	.bussinesscontactinfo .items .item .dropdown ul li{
		padding: 6px 8px;
		font-size: 14px;
	}
	.viewareacontent h3{
		padding-top: 0;
	}

	.smsshare{
		top: 5%;
	}
	.smsshare .modal-dialog{
		width: 100% !important;
	}
	.smsshare .popupcontent input,
	.smsshare .popupcontent button{
		padding: 10px;
		font-size: 15px;
	}

	.storyteamtabs ul li{
		padding: 0 5px;
	}
	.storyteamtabs ul li a{
		font-size: 13px;
		padding-bottom: 10px;
	}

	.localarealistingitems .item .image img.mainimg{
	  height: auto;
	  object-fit: cover;
	}

	.storieslisting .item .content h3{
		min-height: auto;
		margin: 10px 0 !important;
	}
	.storieslisting .item .content p{
		min-height: auto;
	}

}

@media (max-width:380px) {
	.myaccount .formbox .buttons a{
		float: left;
		width: 100% !important;
		padding: 10px 15px !important;
		font-size: 14px;
	}
	.myaccount .formbox .buttons button{
		float: left;
		width: 100%;
		padding: 10px 15px !important;
		font-size: 14px;
		margin: 5px 0;
	}
}

@media (max-width:480px) {
	.storieslisting .item .content h3{
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 16px;
	}
	.storieslisting .item .content h3 br{
		display: none;
	}
	.storieslisting .item.big .play{
		margin-bottom: 10px;
	}
	

}

@media (min-width:460px) and (max-width:550px) {
	.viewareabreadcrumb h1{
		font-size: 20px;
	}
	.viewareabreadcrumb .play{
		float: right;
		margin-top: 0;
	}
	.viewareabreadcrumb .play{
		font-size: 16px;
		height: 35px;
		width: 155px;
	}
	.viewareabreadcrumb .play img{
		width: 25px;	
	}
}

@media (max-width:425px) {
	.localdistributersopen .distributeritems .item .content h3 a{
		float: left;
	}
}
@media (max-width:400px) {
	.heroslider .slideritems .item .possted a{
		padding : 5px 9px;
	}
	.flightticketbook{
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.categorywisestory .heading h3{
		font-size: 16px;
	}
	.distributerlisting .distributeritems .item .info label{
		padding-right: 5px;
	}
	.bussinesscontactinfo .items .item .dropdown ul{
		width: 260px;
	}
	.bussinesscontactinfo .items .item .dropdown ul li {
		padding: 4px 2px;
		font-size: 12px;
	}
}



